<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'blogs/base.html' %}
    
    {% block content %}
        <form action="{% url 'users:register' %}" method="POST" class="form" >
            {% csrf_token %}
            {{ form.as_p }}
            <button name="register">register</button>
            <!-- <input type="hidden" name="next" value="{% url 'blogs:index' %}"> -->
        </form>
    {% endblock content %}
</body>
</html>