<!DOCTYPE html>
<html>
<head>
    <title>learning logs</title>
    <style>
        h2{
            float: left;
        }

        h4{
            float: right;
        }
    </style>
</head>
<body>
{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}
{% block content %}

<h2><a href="{% url 'learning_logs:topic' topic.id %}"> {{topic}} </a></h2>

<h4>Add a new entry</h4>

<form action="{% url 'learning_logs:new_entry' topic.id %}" method ='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button name="submit" class="btn btn-primary">Add</button>
    {% endbuttons %}
</form>

<form action="{% url 'learning_logs:topic' topic.id %}" method ='get'>
    {% csrf_token %}
    {% buttons %}
        <button name="cancel" class="btn btn-primary">Cancel</button>
    {% endbuttons %}
</form>

{% endblock content %}
</body>
</html>